.copyright-background {
    background: #33333A;
    padding-top: 2.5rem;
    padding-left: 2rem;
    text-align: start;
    height: 7rem;
    width: 100vw;
}

.copyright-font-style {
    height: 22px;
    left: 5.6%;
    right: 2.93%;
    top: calc(50% - 22px/2);

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #ECEFF1;
}

.custom-navbar {
    background-color: black;
}

.login-background {
    background-color: #3A3061;
    border-radius: 6px 6px 6px 6px;
    top: 41.63vh;
    left: 6.4vw;
}

.custom-btn {
    background: linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
    border-radius: 24px;
    width: 100%;
    height: 44px;
    color: #FFFFFF;
}

.custom-section-font {
    font-size: 20px !important;
    text-align: center !important;
}

.custom-forgot-pass {
    color: #EFEFEF;
}

.toggle-btn {
    flex: content;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #3A3061;
    border: none;
    width: 49%;
    height: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

#elegir {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
}

.buttons-background {
    background-color:#3A3061;
    top: 34.24vh;
    height: 6rem;
    left: 6.4vw;   
}

.form-box {
    overflow: hidden;
}




