.footer-background {
    background: #33333A;
    padding-left: 3rem;
    text-align: start;
}

.footer-font-style {
    height: 22px;
    left: 5.6%;
    right: 2.93%;
    top: calc(50% - 22px/2);

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #ECEFF1;
}

.custom-navbar {
    background-color: black;
}



