//
// Common
// _______________________________________

// & when (@media-common = true) {
    
// }

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //
    // login header
    //
    @import "./components/login-header.less";
    @import "./components/customer-account-login.less";
    //
    //Seccion de estilos para la pagina de producto
    //---------------------------------------------

    .catalog-product-view {
        * {
            margin: 0%;
            padding: 0%;
        }
        .page-wrapper {
            background-color: white;
            background-image: none;
            font-family: 'Montserrat', sans-serif;
            color: black;
            .page-header {
                height: 8rem;
                background: #FFFFFF;
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
                border-bottom: none;
            }
            .page-main {
                .column.main{
                    padding-top: 1px !important;
                    a#tab-label-additional-title.data.switch {
                        display: none;
                    }
                    .block {
                        .block-title{
                            #block-related-heading {
                                font-size: 22px;
                                line-height: 22px;
                            }
                        }
                    }
                    .product.data.items {
                        margin-bottom: none;
                        border-bottom: none;
                        div#description.data.item.content {
                            font-size: 14px;
                        }
                        a#tab-label-description-title.data.switch {
                            font-size: 16px;
                        }
                        .item.content {
                            padding-bottom: 1rem;
                        }
                    }
                    .product.info.detailed {
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                    padding: 5%;
                    .product-info-main {
                        margin-bottom: 1.5rem;
                        .product-social-links {
                            .product-addto-links {
                                display: none;
                            }
                        }
                        .product-add-form {
                            form#product_addtocart_form {
                                font-size: 12px;
                                font-weight: 300;
                            }
                            padding-top: 0%;
                            flex-direction: row;
                            align-items: baseline;
                            text-transform: uppercase;
                            div.swatch-attribute.color {
                                display: flex;
                                padding-top: 2rem;
                                align-items: center;
                                .swatch-option.selected {
                                    color: white;
                                    border: 1px solid black !important;
                                }
                                #option-label-color-93 {
                                    padding-right: 1rem;
                                }
                                .swatch-attribute-selected-option {
                                    display: none;
                                }
                            }
                            div.swatch-attribute.size {
                                align-items: center;
                                display: flex;
                                padding-top: 2rem;
                                .swatch-option.selected {
                                    color: white;
                                    background: black;
                                    border: none;
                                }
                                #option-label-size-144 {
                                    padding-right: 1rem;
                                }
                                .swatch-attribute-selected-option {
                                    display: none;
                                }
                            }
                        }
                        .product-info-price {
                            text-align: center;
                            padding-top: 0.5rem;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 30px;
                            color: #33333A;
                            margin-bottom: 0;
                            .product-info-stock-sku {
                                display: none;
                            }
                            .price-label {
                                display: none;
                            }
                            .product-addto-links {
                                display: none;
                            }
                            .price-box.price-final_price {
                                .normal-price {
                                    .price-container.price-final_price.tax.weee {
                                        .price-label {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .product-reviews-summary {
                            width: 100%;
                            text-align: center;
                            .rating-summary {
                                margin-right: 0%;
                            }
                        }
                        .page-title {
                            // margin-bottom: 0%;
                            text-align: center;
                            font-size: 3rem;
                        }
                        .reviews-actions {
                            display: none;
                        }
                        .product-options-bottom {
                            .box-tocart {
                                .fieldset {
                                    .field {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: baseline;
                                        .label {
                                        padding-right: 1rem;
                                        }
                                    }
                                }
                            }   
                            #product-addtocart-button {
                                font-family: 'Montserrat', sans-serif;
                                font-size: 12px;
                                line-height: 20px;
                                text-align: center;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                background-color: #33333A;
                            }
                        }
                    }
                }
            }
        }
        .minicart-wrapper {
            .action.showcart {
                padding-top: 2.5rem;
                padding-right: 6rem;
            }
        }
        .logo {
            height: 16.58px;
            width: 63.49px;
            padding-top: 3rem;
            padding-left: 2rem;
        }
        .nav-toggle {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            display: block;
            font-size: 0;
            color: #33333A;        
            // position: absolute;
            // z-index: 14;
            left: 90vw;
            top: 0vh;
            padding-top: 2rem;
            padding-right: 1.5rem;
        }
    
        .nav-toggle:before {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 28px;
            line-height: inherit;
            color: #33333A;        
            content: '\e609';
            font-family: 'luma-icons';
            vertical-align: middle;
            display: inline-block;
            font-weight: normal;
            // overflow: hidden;
            // text-align: center;
            // left: 87.73%;
            // right: 0%;
            // top: 0%;
            // bottom: 97.04%;
        }
    }
}