//
// Common
// _______________________________________

// & when (@media-common = true) {
    
// }

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .logo {
        position: relative;
        margin: 0 0 0 0;
        left: 39.2%;
        right: 36.37%;
        top: 7.27%;
        bottom: 74.66%; 

        img {
            height: 147px;
            width: 92px;
            margin-top: 7.27vh;
        }

        .page-print {
            display: inline-block;
            float: none;
        }
    }

    .page-header {
        border-bottom: none;
        .header.content {
            padding-top: 0%;
        }
    }

    .sections {
        background: transparent;
    }

    .nav-sections-items {
        .section-item-title[aria-controls="store.menu"] {
            display: none;
        }
        .section-item-title[aria-controls="store.links"] {
            background: transparent;
            border-bottom-width: 0;
        }
        #store\.links {
            display: block !important;
            margin: 0;
        }
        #store\.menu {
            display: none;
        }
    }

    .nav-toggle {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        display: block;
        font-size: 0;
        color: #FFFFFF;        
        position: absolute;
        z-index: 14;
        left: 87.73%;
        right: 4.27%;
        top: 2.96%;
        bottom: 97.04%;
    }

    .nav-toggle:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 28px;
        line-height: inherit;
        color: #FFFFFF;        
        content: '\e609';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
        left: 87.73%;
        right: 4.27%;
        top: 2.96%;
        bottom: 97.04%;
    }

    .page-wrapper {
        background-color: #393FD0;
        background-image: url(images/fill_13.svg), url(images/fill_8.svg), url(images/fill_17.svg);
        background-repeat:no-repeat, no-repeat, no-repeat;
        background-position: 12.8vw 0, 0 29.31vh, right 23.89vh;
    }
}